body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(90deg, #007bff, #00d2ff);
    color: white;
    padding: 2rem;
    text-align: center;
    position: relative; /* Adicionado para posicionar a logo */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    animation: fadeIn 2s;
    display: inline-block;
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    padding: 1rem 0;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #007bff;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

nav a:hover::after {
    width: 100%;
}

section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    position: relative;
}

section h2::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #007bff;
    display: block;
    margin: 10px auto 0;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

section li:hover {
    transform: scale(1.02);
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.logo {
    max-width: 100px; /* Tamanho da logo */
    position: absolute;
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
}

@keyframes fadeIn {
    from { opacity:
